:root {
  --primary: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}
/* layout css */

h1 {
  padding: 24px 0px 0px 9px;
  font-size: xx-large;
}

h5 {
  color: var(--Cool-gray);
  font-weight: 500;
  font-size: 14px;
}
.yearly {
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  background-color: hsl(230deg 75% 98.43%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px solid var(--Light-gray);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  height: 150px;
  width: 125px;
  background-color: white;
}

.card:hover {
  border-color: var(--Purplish-blue);
  cursor: pointer;
  background-color: hsl(230deg 75% 98.43%);
}

.card h4 {
  font-size: 15px;
  font-weight: 500;
  padding-top: 8px;
  color: var(--Cool-gray);
}

.m-20y {
  margin: 20px 0px;
}

.pt-35 {
  padding-top: 30px;
}

a {
  text-decoration: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
