
:root {
    --primary: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}
/* layout css */

.personal-info-form {
    padding: 1px;
    margin: 0px 0px 0px 80px;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1 {
    padding: 24px 0px 0px 9px;
    font-size: xx-large;
}

h5 {
    color: var(--Cool-gray);
    font-weight: 500;
    font-size: 14px;
}

label {
    color: var(--primary);
    font-size: 13px;
    font-weight: 500;
}

input {
    padding: 9px;
    border-radius: 8px;
    border-color: var(--Cool-gray);
    margin-top: 8px;
}

